*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background:#fae7e7; /*haed background*/
    --roxo:#992c4b; /*logo, background tittle, about us*/
    --lilas:#88516d; /*button color, menu*/
    --escuro: #3d0349; /*texto, contate-nos*/
}
.head{
    display: flex;
    background-color: var(--head);
    padding: 20px 50px;
    justify-content: space-between;
    color: var(--lilas);

}
#logo{
    font-family:"Playfair Display", serif;
    display: flex;
    color: var(--roxo);
    font-size: 30px;
    font-weight: 900;
    line-height: 0.9;
}
#menu{
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Lora", serif;
}
#menu > a:hover{
    color: var(--escuro);
}
a{
    text-decoration: none;
     color: var(--lilas);
}
#title{
    font-family: "Source Sans 3", serif;
    color: var(--roxo);
    line-height: 0.9;
    font-weight: 700;
    font-size: 55px; 
}
button{
    padding: 12px 30px;
    background-color: var(--lilas);
    border: 0;
    border-radius: 8px;
    color: white;
    font-family:"Lora", serif;
    font-size: 15px;
}
.corpo{
    padding: 50px;
}
button:hover{
    background-color: var(--escuro);
}
.text{
    font-family:"Playfair Display", serif;
    color: var(--escuro);
    padding-inline: 50px;
    font-weight: 500;
}
#margem{
    font-size: 25px;
    font-weight: 600;
}
#contate{
      font-size: 25px;
      font-weight: 600;
}
body{
    background-color: var(--background);
    background-image: url(imagens/background.png);
    background-position: center;
    max-width: 6000;
}

/*TEXTO*/
#subtitulo{
    font-size: 20px;
}
.texto1{
    font-weight: 400;
    font-size: 18px;
}
#nome{
    font-weight: 200;
}
#endereco{
    font-size: 20px;
}
