* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    gap: 20px;
}
.mesa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}


.painel{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: solid white 1px;   
}
.piscar{
    background-color: white !important;
}
.vermelho { background-color: red; }
.roxo { background-color: purple; }
.azul { background-color: blue; }
.amarelo { background-color: yellow; }

.sucesso { background-color: green !important; }
.erro { background-color: red !important; }
